<div class="row" style="background-color: #37bd27;">
  <div class="col-2">
  </div>
  <div class="col-2">

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
  </div>
  <div  class="col-2">
    <h1 [innerHTML]="Crediti"></h1>
  </div>
  <div  class="col-2">
    <button mat-raised-button (click)="invia()">Scarica csv e invia a sergio</button>
  </div>
</div>

<div class="row">
  <div class="mat-elevation-z8 col-lg-6">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> team </th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
      </ng-container>

      <ng-container matColumnDef="bonusGol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bonus Gol </th>
        <td mat-cell *matCellDef="let element"> {{element.bonusGol}} </td>
      </ng-container>

      <ng-container matColumnDef="ruolo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ruolo </th>
        <td mat-cell *matCellDef="let element"> {{element.ruolo}} </td>
      </ng-container>

      <ng-container matColumnDef="quotazione">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> quotazione </th>
        <td mat-cell *matCellDef="let element"> {{element.quotazione}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr (click)="addThis(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator1 [pageSizeOptions]="[ 10, 20, 50 ]" showFirstLastButtons aria-label="Seleziona pagina giocatori">
    </mat-paginator>
  </div>

  <div class=" col-lg-6">
    <h1>La tua squadra</h1>
    <table mat-table [dataSource]="giocatoriTuoi">
      <ng-container matColumnDef="nome1">
        <th mat-header-cell *matHeaderCellDef> nome1 </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="team1">
        <th mat-header-cell *matHeaderCellDef> team 1</th>
        <td mat-cell *matCellDef="let element"> {{element.team}} </td>
      </ng-container>

      <ng-container matColumnDef="bonusGol1">
        <th mat-header-cell *matHeaderCellDef> Bonus Gol1 </th>
        <td mat-cell *matCellDef="let element"> {{element.bonusGol}} </td>
      </ng-container>

      <ng-container matColumnDef="ruolo1">
        <th mat-header-cell *matHeaderCellDef> ruolo1 </th>
        <td mat-cell *matCellDef="let element"> {{element.ruolo}} </td>
      </ng-container>

      <ng-container matColumnDef="quotazione1">
        <th mat-header-cell *matHeaderCellDef> quotazione1 </th>
        <td mat-cell *matCellDef="let element"> {{element.quotazione}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr (click)="removeThis(row)" mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

    </table>
    <mat-paginator #paginator2 
    [pageSize]="100"
    [pageSizeOptions]="[ 100,200,300 ]" showFirstLastButtons aria-label="Seleziona i tuoi  giocatori">
    </mat-paginator>
  </div>
</div>